<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CollegeApplication2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowAllAlumniController</display-name>
    <servlet-name>ShowAllAlumniController</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowAllAlumniController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllAlumniController</servlet-name>
    <url-pattern>/ShowAllAlumniController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFacultyServlet</display-name>
    <servlet-name>ShowFacultyServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFacultyServlet</servlet-name>
    <url-pattern>/ShowFacultyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationStatusServlet</display-name>
    <servlet-name>ApplicationStatusServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ApplicationStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationStatusServlet</servlet-name>
    <url-pattern>/ApplicationStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllUsersController</display-name>
    <servlet-name>ShowAllUsersController</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowAllUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllUsersController</servlet-name>
    <url-pattern>/ShowAllUsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUsersController</display-name>
    <servlet-name>UpdateUsersController</servlet-name>
    <servlet-class>com.virtusa.cma.controller.UpdateUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUsersController</servlet-name>
    <url-pattern>/UpdateUsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUsersController</display-name>
    <servlet-name>DeleteUsersController</servlet-name>
    <servlet-class>com.virtusa.cma.controller.DeleteUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsersController</servlet-name>
    <url-pattern>/DeleteUsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyInfoServlet</display-name>
    <servlet-name>FacultyInfoServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.FacultyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyInfoServlet</servlet-name>
    <url-pattern>/FacultyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantController</display-name>
    <servlet-name>ApplicantController</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ApplicantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantController</servlet-name>
    <url-pattern>/ApplicantController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationStatusServlett</display-name>
    <servlet-name>ApplicationStatusServlett</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ApplicationStatusServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationStatusServlett</servlet-name>
    <url-pattern>/ApplicationStatusServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllApplicantsController</display-name>
    <servlet-name>ShowAllApplicantsController</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowAllApplicantsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllApplicantsController</servlet-name>
    <url-pattern>/ShowAllApplicantsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailInfoAppController</display-name>
    <servlet-name>ShowDetailInfoAppController</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowDetailInfoAppController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailInfoAppController</servlet-name>
    <url-pattern>/ShowDetailInfoAppController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppStatusController</display-name>
    <servlet-name>UpdateAppStatusController</servlet-name>
    <servlet-class>com.virtusa.cma.controller.UpdateAppStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppStatusController</servlet-name>
    <url-pattern>/UpdateAppStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfoServlet</display-name>
    <servlet-name>StudentInfoServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.StudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfoServlet</servlet-name>
    <url-pattern>/StudentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStudentServlet</display-name>
    <servlet-name>ShowStudentServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentServlet</servlet-name>
    <url-pattern>/ShowStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlet</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlett</display-name>
    <servlet-name>UpdateCourseServlett</servlet-name>
    <servlet-class>com.virtusa.cma.controller.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlett</servlet-name>
    <url-pattern>/UpdateCourseServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourseServle</display-name>
    <servlet-name>DeleteCourseServle</servlet-name>
    <servlet-class>com.virtusa.cma.controller.DeleteCourseServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseServle</servlet-name>
    <url-pattern>/DeleteCourseServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCoursesServlet</display-name>
    <servlet-name>ShowCoursesServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCoursesServlet</servlet-name>
    <url-pattern>/ShowCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllCoursesServlet</display-name>
    <servlet-name>ShowAllCoursesServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowAllCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllCoursesServlet</servlet-name>
    <url-pattern>/ShowAllCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFeedbackServlet</display-name>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.AddFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <url-pattern>/AddFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacementInsertServlet</display-name>
    <servlet-name>PlacementInsertServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.PlacementInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacementInsertServlet</servlet-name>
    <url-pattern>/PlacementInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacementUpdServlet</display-name>
    <servlet-name>PlacementUpdServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.PlacementUpdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacementUpdServlet</servlet-name>
    <url-pattern>/PlacementUpdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacementDeleteServlet</display-name>
    <servlet-name>PlacementDeleteServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.PlacementDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacementDeleteServlet</servlet-name>
    <url-pattern>/PlacementDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyMeeting</display-name>
    <servlet-name>FacultyMeeting</servlet-name>
    <servlet-class>com.virtusa.cma.controller.FacultyMeeting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyMeeting</servlet-name>
    <url-pattern>/FacultyMeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllCoursesUserServlet</display-name>
    <servlet-name>ShowAllCoursesUserServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.ShowAllCoursesUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllCoursesUserServlet</servlet-name>
    <url-pattern>/ShowAllCoursesUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCourseSelectServlet</display-name>
    <servlet-name>UserCourseSelectServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.UserCourseSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCourseSelectServlet</servlet-name>
    <url-pattern>/UserCourseSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCoursesServlet</display-name>
    <servlet-name>RegisterCoursesServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.RegisterCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCoursesServlet</servlet-name>
    <url-pattern>/RegisterCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRegisterCourses</display-name>
    <servlet-name>AddRegisterCourses</servlet-name>
    <servlet-class>com.virtusa.cma.controller.AddRegisterCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRegisterCourses</servlet-name>
    <url-pattern>/AddRegisterCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.virtusa.cma.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>